.greeting {
  position: relative;
  background: rgb(121, 7, 7);
  height: 100vh;
  flex-direction: column;
}

.greeting .message {
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1.4;
}

.greeting .message span {
  color: #fff;
}
