.navbar {
  background: #000;
  display: flex;
  justify-content: flex-end;
  padding: 1em 2em;
  color: #fff;
}

.navbar li {
  margin: 0 1em;
}

/* class to highlight links */
.active {
  transition: all 0.2s;
  color: red;
  font-weight: 600;
}